---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to MBTI.">
	<main class="main relative flex flex-col items-center h-screen px-3 py-2 space-y-6 bg-gradient-to-b from-purple-300">
		<h2 class="text-white text-2xl font-sans py-6 text-purple-500">MBTI 16型人格测试</h2>
		<img src="/mbti-16-personal.png" alt="no picture">
		<button id="start-quiz-btn" class="absolute bottom-12 w-40 h-10 rounded-full bg-purple-500 text-white" type="button">
			<a href="/quiz/free" class="tracking-wider">开始测试</a>
		</button>
	</main>
</Layout>